{{ signature }}
{% for line in init_loop_lines %}
{{ line }}
{% endfor %}
{% for line in init_body_lines %}
{{ line }}
{% endfor %}
{% for line in init_footer_lines %}
{{ line }}
{% endfor %}
{% for line in grad_loop_lines %}
{{ line }}
{% endfor %}
{% for line in grad_body_lines %}
{{ line }}
{% endfor %}
{% for line in grad_footer_lines %}
{{ line }}
{% endfor %}
